@import "../../../styles/variables";

.tags {
    width: 64vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $textColor;
    font-family: $fontNormal;
    font-size: 1.5rem;

    p {
        font-size: 1.5rem;
    }
   
    .tags__list {
        list-style: none;
        width: 420px;
        padding: 0 2.4rem 0 0;
        display: flex;
        justify-content: space-between;

        .tags__items {
            background-color: $tagColor;
            padding: .5rem .625rem;
            border-radius: 8px;
            cursor: pointer;
        }
    }   
}