@import-normalize;
@import './variables';

@font-face {
    font-family: $fontNormal;
    src: local($fontNormal), url('../assets/fonts/GandhiSans-Regular.otf') format("truetype");
    font-weight: normal;
    display: swap;
}

@font-face {
    font-family: $fontBold;
    src: local($fontBold), url('../assets/fonts/GandhiSans-Bold.otf') format("truetype");
    font-weight: bold;
    display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(174.61deg, $blueDark 4.16%, $blueFooter 48%, $blueLight 96.76%);
    box-sizing: border-box;
    font-family: $fontNormal, sans-serif;
}

body::-webkit-scrollbar {
    width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
    background-color: $blueFooter;
    border-radius: 1.3rem;
}

body::-webkit-scrollbar-track {
    background: linear-gradient($blueDark, $blueLight);
}