@import "../../styles/variables";

.gallery {
    margin-top: 4rem;
    margin-left: 18.3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        font-family: $fontNormal;
        font-weight: normal;
        font-size: 2rem;
        color: $purple;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 0.5rem;
    }
    
    .cards__list {
        list-style: none;
        padding: 0;
        display: flex;
        width: 98%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        display: none;
    }
}