@import '../../styles/variables';

nav {
    width: 18%;
  
    ul {
      padding-left: 1.5rem;
      margin: 0;
      height: 276px;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        &:first-child {
          a {
            font-weight: bold;
            color: $purple;
            font-family: $fontBold;
          }
        }
      }
    }
  
  
    img {
      margin-right: 0.5rem;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  
    a {
      text-decoration: none;
      font-size: 1.125rem;
      color: $textColor;
      font-family: $fontNormal;
    }
  }